header.header
	.header__group
		.header__burger
			div
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#logo')
	.header__group
		nav.header__menu
			li
				a(href='#')
					span Home
			li
				a(href='#')
					span Pages
					svg
						use(xlink:href='./assets/images/svg/sprite.svg#arrow')
			li
				a(href='#')
					span Blog
			li
				a(href='#') Booking
		+button('contacts', 'header__btn')
