header.header
	.header__group
		.header__burger
			div
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#logo')
	.header__group
		nav.header__menu
			li
				a(href='#')
					span Home
			li
				a(href='#')
					span Pages
					svg
						use(xlink:href='./assets/images/svg/sprite.svg#arrow')
				
				nav.header__sub-menu
					li
						a(href="#")
							span About Me
					li
						a(href="#")
							span About Us
					li
						a(href="#")
							span Events
					li
						a(href="#")
							span Gallery
					li
						a(href="#")
							span Log In
					li
						a(href="#")
							span Portfolio Single
					li
						a(href="#")
							span Portfolio
					li
						a(href="#")
							span Mobile Photography
					li
						a(href="#")
							span Services
					li
						a(href="#")
							span Testimonials
			li
				a(href='#')
					span Blog
			li
				a(href='#') Booking
		+button('contacts', 'header__btn')
