.first-screen
	.first-screen__bg
		img(src='assets/images/bg-first.png' alt='')
	.first-screen__content
		.container.first-screen__container
			+tag('let it be amazing')
			.first-screen__title catch your life moment
			.first-screen__wrapper
				+play('', 'play-part', true)
				.first-screen__text Pariatur voluptate occaecat nostrud est exercitation.
	.first-screen__nav
		p.active 01.
		p 02.
		p 03.
	.first-screen__socials
		a.first-screen__socials-item(href='#') Fb
		a.first-screen__socials-item(href='#') Tw
		a.first-screen__socials-item(href='#') In
	.first-screen__arrows
		.first-screen__arrow
			svg
				use(xlink:href='./assets/images/svg/sprite.svg#arrow-slide')
		.first-screen__arrow
			svg
				use(xlink:href='./assets/images/svg/sprite.svg#arrow-slide')