.services
	.container.services__container
		.services__wrapper
			.services__content
				+tag('services')
				.services__title what we do
				.services__text Pariatur voluptate occaecat nostrud est exercitation. Culpa culpa laboris excepteur officia ullamco sunt nisi velit culpa.
				+button('all services', 'services__btn')
			.services__slider
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-1.jpg' alt='')
					.services__price
						p Personal session
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-2.jpg' alt='')
					.services__price
						p Wedding day
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-3.jpg' alt='')
					.services__price
						p Commercial session
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-4.jpg' alt='')
					.services__price
						p Love stories
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-1.jpg' alt='')
					.services__price
						p Personal session
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-2.jpg' alt='')
					.services__price
						p Wedding day
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-3.jpg' alt='')
					.services__price
						p Commercial session
						p from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='assets/images/services/item-4.jpg' alt='')
					.services__price
						p Love stories
						p from <span>$150</span>
