.contacts {
	position: relative;

	> img {
		position: absolute;
		top: 28%;
		right: 0;
	}

	.blue-circle {
		width: 794px;
		height: 794px;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__container {
		width: 1140px;
		padding: 201px 0 100px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		margin: 0 -65px;
	}

	&__col {
		width: calc(69% - 130px);
		margin: 0 65px;

		&:last-child {
			width: calc(31% - 130px);
			margin: 0 65px;
		}
	}
}